/* Basic styling for form layout */
html{
    height: 100vh;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    height: 100%;
    background-image: linear-gradient(
  180deg,
  hsl(30deg 100% 63%) 0%,
  hsl(29deg 100% 62%) 5%,
  hsl(28deg 100% 62%) 11%,
  hsl(27deg 100% 62%) 16%,
  hsl(26deg 100% 62%) 21%,
  hsl(25deg 100% 62%) 26%,
  hsl(24deg 100% 62%) 32%,
  hsl(23deg 100% 62%) 37%,
  hsl(22deg 100% 62%) 42%,
  hsl(21deg 100% 63%) 47%,
  hsl(20deg 100% 63%) 53%,
  hsl(19deg 100% 63%) 58%,
  hsl(18deg 100% 63%) 63%,
  hsl(17deg 100% 63%) 68%,
  hsl(16deg 100% 63%) 74%,
  hsl(14deg 100% 63%) 79%,
  hsl(13deg 100% 63%) 84%,
  hsl(12deg 100% 64%) 89%,
  hsl(11deg 100% 64%) 95%,
  hsl(9deg 100% 64%) 100%
);
}
form {
    max-width: 400px;
    margin: 10vw auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color:  rgba(255, 159, 64, 1);;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
