
      
    .navbar {
        position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgba(255, 159, 64, 1);
            padding: 10px 20px;
        }
        .navbar-left {
            display: flex;
            align-items: center;
        }
        .navbar-logo {
            display: flex;
            align-items: center;
        }
        .navbar-logo h1 {
            margin: 0;
            font-size: 24px;
            color: white;
        }
        .navbar-links {
            display: flex;
            margin-left: 20px;
        }
        .navbar-links a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
            padding: 10px 20px;
            border-radius: 5px;
        }
        .navbar-links a:hover {
            background-color: white;
            color: rgba(255, 159, 64, 1);
        }
        .navbar-buttons {
            display: flex;
            align-items: center;
        }
        .navbar-buttons button {
            background-color: white;
            color: rgba(255, 159, 64, 1);
            border: none;
            padding: 10px 20px;
            margin: 0 5px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        .navbar-buttons button:hover {
            background-color: rgba(255, 159, 64, 0.8);
            color: white;
        }
    
